<div class="l-ui-container--spread">
  <h1><%= @assistant.name %></h1>
  <%= link_to "Back", layered_assistant.public_assistants_path, class: "l-ui-button--outline" %>
</div>

<dl class="l-ui-description-list l-ui-utility--mt-lg">
  <% if @assistant.description.present? %>
    <dt>Description</dt>
    <dd><%= @assistant.description %></dd>
  <% end %>

  <% if @assistant.default_model.present? %>
    <dt>Default model</dt>
    <dd><%= @assistant.default_model.name %></dd>
  <% end %>
</dl>

<div class="l-ui-utility--mt-lg">
  <%= form_with url: layered_assistant.public_conversations_path, class: "l-ui-form" do |f| %>
    <%= f.hidden_field :assistant_id, value: @assistant.id %>
    <%= f.submit "New conversation", class: "l-ui-button--primary" %>
  <% end %>
</div>
