<%= tag.div id: dom_id(message), data: { created_at: (message.created_at.to_f * 1000).to_i }, class: "#{dom_id(message)} #{message.user? ? "l-ui-message--sent" : "l-ui-message"}" do %>
  <div class="l-ui-message__bubble">
    <% unless message.user? %>
      <div class="l-ui-message__author"><%= message.role.capitalize %></div>
    <% end %>
    <div class="<%= dom_id(message) %>_body l-ui-message__body">
      <div class="<%= dom_id(message) %>_content l-ui-markdown" data-controller="markdown"><%= message.content %></div>
      <% if message.assistant? && message.content.blank? && !message.stopped? %>
        <div class="l-ui-typing-indicator" role="status" aria-label="Assistant is typing">
          <span class="l-ui-typing-indicator__dot"></span>
          <span class="l-ui-typing-indicator__dot"></span>
          <span class="l-ui-typing-indicator__dot"></span>
        </div>
      <% end %>
      <% if message.stopped? %>
        <div class="l-ui-notice--warning" role="status">The response was stopped</div>
      <% end %>
    </div>
    <div class="l-ui-message__footer">
      <% if message.model && !message.user? %>
        <% title = message_metadata_title(message) %>
        <span class="l-ui-message__metadata"<%= " title=\"#{title}\"".html_safe if title.present? %>><%= message.model.name %></span>
      <% end %>
      <span class="l-ui-message__timestamp"><%= message.created_at.to_fs(:short) %></span>
    </div>
  </div>
<% end %>
