<%= l_ui_title_bar(
  title: "Messages",
  breadcrumbs: [
    ["Setup", layered_assistant.root_path],
    ["Conversations", layered_assistant.conversations_path]
  ]
) %>

<div class="l-ui-container--table l-ui-utility--mt-lg">
  <table class="l-ui-table">
    <caption class="l-ui-sr-only">Messages</caption>
    <thead class="l-ui-table__header">
      <tr>
        <th scope="col" class="l-ui-table__header-cell">Role</th>
        <th scope="col" class="l-ui-table__header-cell">Content</th>
        <th scope="col" class="l-ui-table__header-cell">Model</th>
        <th scope="col" class="l-ui-table__header-cell">Tokens</th>
        <th scope="col" class="l-ui-table__header-cell">Tok/s</th>
        <th scope="col" class="l-ui-table__header-cell">TTFT</th>
        <th scope="col" class="l-ui-table__header-cell">Created</th>
        <th scope="col" class="l-ui-table__header-cell--action">Actions</th>
      </tr>
    </thead>

    <tbody class="l-ui-table__body">
      <% @messages.each do |message| %>
        <tr>
          <th scope="row" class="l-ui-table__cell--primary">
            <%= message.role %>
          </th>
          <td class="l-ui-table__cell">
            <%= truncate(message.content, length: 100) %>
          </td>
          <td class="l-ui-table__cell">
            <%= message.model&.name %>
          </td>
          <td class="l-ui-table__cell">
            <% total = message.input_tokens.to_i + message.output_tokens.to_i %>
            <% if total > 0 %>
              <% prefix = message.tokens_estimated? ? "~" : "" %>
              <%= "#{prefix}#{number_with_delimiter(total)}" %>
            <% end %>
          </td>
          <td class="l-ui-table__cell">
            <% if message.output_tokens.to_i > 0 && message.response_ms.to_i >= Layered::Assistant::MessagesHelper::MIN_RESPONSE_MS_FOR_TPS %>
              <%= (message.output_tokens * 1000.0 / message.response_ms).round(1) %>
            <% end %>
          </td>
          <td class="l-ui-table__cell">
            <%= "#{message.ttft_ms}ms" if message.ttft_ms %>
          </td>
          <td class="l-ui-table__cell">
            <%= message.created_at.to_fs(:short) %>
          </td>
          <td class="l-ui-table__cell--action">
            <%= link_to "Delete", layered_assistant.conversation_message_path(@conversation, message), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="l-ui-utility--mt-lg">
    <%= l_ui_pagy(@pagy) %>
  </div>
</div>
