<%= form_with(model: assistant, url: url, html: { class: "l-ui-form" }) do |f| %>
  <%= render "layered_ui/shared/form_errors", item: assistant %>

  <div class="l-ui-form__group">
    <%= render "layered_ui/shared/label", form: f, field: :name, required: true %>
    <%= f.text_field :name, class: "l-ui-form__field" %>
    <%= render "layered_ui/shared/field_error", object: assistant, field: :name %>
  </div>

  <div class="l-ui-form__group">
    <%= render "layered_ui/shared/label", form: f, field: :description, required: false %>
    <%= f.text_area :description, class: "l-ui-form__field", rows: 3 %>
    <%= render "layered_ui/shared/field_error", object: assistant, field: :description %>
  </div>

  <div class="l-ui-form__group">
    <%= render "layered_ui/shared/label", form: f, field: :default_model_id, name: "Default model", required: false %>
    <%= f.select :default_model_id, @models.map { |m| ["#{m.provider.name} - #{m.name}", m.id] }, { include_blank: "None" }, class: "l-ui-select" %>
    <%= render "layered_ui/shared/field_error", object: assistant, field: :default_model_id %>
  </div>

  <div class="l-ui-form__group">
    <%= render "layered_ui/shared/label", form: f, field: :instructions, required: false %>
    <%= f.text_area :instructions, class: "l-ui-form__field", rows: 5 %>
    <%= render "layered_ui/shared/field_error", object: assistant, field: :instructions %>
  </div>

  <div class="l-ui-form__group">
    <%= render "layered_ui/shared/label", form: f, field: :persona_id, name: "Persona", required: false %>
    <%= f.select :persona_id, @personas.map { |p| [p.name, p.id] }, { include_blank: "None" }, class: "l-ui-select" %>
    <%= render "layered_ui/shared/field_error", object: assistant, field: :persona_id %>
  </div>

  <% if @skills.any? %>
    <fieldset class="l-ui-form__group">
      <legend class="l-ui-label">Skills</legend>
      <%= hidden_field_tag "assistant[skill_ids][]", "" %>
      <% @skills.each do |skill| %>
        <div class="l-ui-checkbox-container">
          <%= f.check_box :skill_ids, { multiple: true, checked: assistant.skill_ids.include?(skill.id), id: "assistant_skill_ids_#{skill.id}" }, skill.id, nil %>
          <label for="assistant_skill_ids_<%= skill.id %>" class="l-ui-label--checkbox"><%= skill.name %></label>
        </div>
      <% end %>
    </fieldset>
  <% end %>

  <label class="l-ui-switch l-ui-mt-6">
    <%= f.check_box :public, class: "l-ui-switch__input", role: "switch" %>
    <span class="l-ui-switch__track"></span>
    Public
  </label>

  <div class="l-ui-spread l-ui-mt-8">
    <% if assistant.persisted? %>
      <%= link_to "Delete", layered_assistant.assistant_path(assistant), class: "l-ui-button--outline-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <% else %>
      <span></span>
    <% end %>
    <%= f.submit assistant.new_record? ? "Create" : "Update", class: "l-ui-button--primary" %>
  </div>
<% end %>
