<div class="l-ui-container--spread">
  <h1>Assistants</h1>
  <%= link_to "New", layered_assistant.new_assistant_path, class: "l-ui-button--primary" %>
</div>

<div class="l-ui-container--table l-ui-utility--mt-lg">
  <table class="l-ui-table">
    <caption class="l-ui-sr-only">Assistants</caption>
    <thead class="l-ui-table__header">
      <tr>
        <th scope="col" class="l-ui-table__header-cell">Name</th>
        <th scope="col" class="l-ui-table__header-cell">Description</th>
        <th scope="col" class="l-ui-table__header-cell">Default model</th>
        <th scope="col" class="l-ui-table__header-cell">Persona</th>
        <th scope="col" class="l-ui-table__header-cell">Skills</th>
        <th scope="col" class="l-ui-table__header-cell">Conversations</th>
        <th scope="col" class="l-ui-table__header-cell--action">Actions</th>
      </tr>
    </thead>

    <tbody class="l-ui-table__body">
      <% @assistants.each do |assistant| %>
        <tr>
          <th scope="row" class="l-ui-table__cell--primary">
            <%= link_to assistant.name, layered_assistant.assistant_conversations_path(assistant) %>
          </th>
          <td class="l-ui-table__cell">
            <%= truncate(assistant.description, length: 60) %>
          </td>
          <td class="l-ui-table__cell">
            <%= assistant.default_model&.name %>
          </td>
          <td class="l-ui-table__cell">
            <%= assistant.persona&.name || "None" %>
          </td>
          <td class="l-ui-table__cell">
            <%= assistant.skills.size %>
          </td>
          <td class="l-ui-table__cell">
            <%= link_to assistant.conversations_count, layered_assistant.assistant_conversations_path(assistant) %>
          </td>
          <td class="l-ui-table__cell--action">
            <%= link_to "Edit", layered_assistant.edit_assistant_path(assistant) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="l-ui-utility--mt-lg">
    <%= l_ui_pagy(@pagy) %>
  </div>
</div>
