<%= form_with(model: conversation, url: url, html: { class: "l-ui-form" }) do |f| %>
  <%= render "layered_ui/shared/form_errors", item: conversation %>

  <% if conversation.new_record? %>
    <div class="l-ui-form__group">
      <%= render "layered_ui/shared/label", form: f, field: :assistant_id, name: "Assistant", required: true %>
      <%= f.select :assistant_id, @assistants.map { |a| [a.name, a.id] }, { include_blank: "Select an assistant:" }, class: "l-ui-select" %>
      <%= render "layered_ui/shared/field_error", object: conversation, field: :assistant %>
    </div>
  <% end %>

  <div class="l-ui-form__group">
    <%= render "layered_ui/shared/label", form: f, field: :name, required: false %>
    <%= f.text_field :name, class: "l-ui-form__field" %>
    <% if conversation.new_record? %>
      <p class="l-ui-form__hint">Auto-set from first message if left blank</p>
    <% end %>
    <%= render "layered_ui/shared/field_error", object: conversation, field: :name %>
  </div>

  <div class="l-ui-spread l-ui-mt-8">
    <% if conversation.persisted? %>
      <%= link_to "Delete", layered_assistant.conversation_path(conversation), class: "l-ui-button--outline-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <% else %>
      <span></span>
    <% end %>
    <%= f.submit conversation.new_record? ? "Create" : "Update", class: "l-ui-button--primary" %>
  </div>
<% end %>
