<%= l_ui_title_bar(
  title: @assistant ? "Conversations - #{@assistant.name}" : "Conversations",
  breadcrumbs: @assistant ? [["Assistants", layered_assistant.assistants_path]] : []
) do %>
  <%= link_to "New", layered_assistant.new_conversation_path(conversation: @assistant ? { assistant_id: @assistant.id } : {}), class: "l-ui-button--primary" %>
<% end %>

<div class="l-ui-container--table l-ui-utility--mt-lg">
  <table class="l-ui-table">
    <caption class="l-ui-sr-only"><%= @assistant ? "Conversations for #{@assistant.name}" : "Conversations" %></caption>
    <thead class="l-ui-table__header">
      <tr>
        <th scope="col" class="l-ui-table__header-cell">Name</th>
        <% unless @assistant %>
          <th scope="col" class="l-ui-table__header-cell">Assistant</th>
        <% end %>
        <th scope="col" class="l-ui-table__header-cell">Messages</th>
        <th scope="col" class="l-ui-table__header-cell">Tokens</th>
        <th scope="col" class="l-ui-table__header-cell">User</th>
        <th scope="col" class="l-ui-table__header-cell">Created</th>
        <th scope="col" class="l-ui-table__header-cell--action">Actions</th>
      </tr>
    </thead>

    <tbody class="l-ui-table__body">
      <% @conversations.each do |conversation| %>
        <tr>
          <th scope="row" class="l-ui-table__cell--primary">
            <%= link_to conversation.name, layered_assistant.conversation_path(conversation) %>
          </th>
          <% unless @assistant %>
            <td class="l-ui-table__cell">
              <%= link_to conversation.assistant.name, layered_assistant.assistant_conversations_path(conversation.assistant) %>
            </td>
          <% end %>
          <td class="l-ui-table__cell">
            <%= link_to conversation.messages_count.to_i, layered_assistant.conversation_messages_path(conversation) %>
          </td>
          <td class="l-ui-table__cell">
            <%= number_with_delimiter(conversation.token_estimate.to_i) %>
          </td>
          <td class="l-ui-table__cell">
            <%# nil owner = public conversation (guest user) %>
            <%= conversation.owner.try(:name) || "Guest" %>
          </td>
          <td class="l-ui-table__cell">
            <%= conversation.created_at.to_fs(:short) %>
          </td>
          <td class="l-ui-table__cell--action">
            <%= link_to "Edit", layered_assistant.edit_conversation_path(conversation) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="l-ui-utility--mt-lg">
    <%= l_ui_pagy(@pagy) %>
  </div>
</div>
