<%= l_ui_title_bar(title: "Skills") do %>
  <%= link_to "New", layered_assistant.new_skill_path, class: "l-ui-button--primary" %>
<% end %>

<div class="l-ui-table-container l-ui-mt-4">
  <table class="l-ui-table">
    <caption class="l-ui-sr-only">Skills</caption>
    <thead class="l-ui-table__header">
      <tr>
        <th scope="col" class="l-ui-table__header-cell">Name</th>
        <th scope="col" class="l-ui-table__header-cell">Description</th>
        <th scope="col" class="l-ui-table__header-cell">Assistants</th>
        <th scope="col" class="l-ui-table__header-cell--action">Actions</th>
      </tr>
    </thead>

    <tbody class="l-ui-table__body">
      <% @skills.each do |skill| %>
        <tr>
          <th scope="row" class="l-ui-table__cell--primary">
            <%= skill.name %>
          </th>
          <td class="l-ui-table__cell">
            <%= truncate(skill.description, length: 60) %>
          </td>
          <td class="l-ui-table__cell">
            <%= skill.assistants_count %>
          </td>
          <td class="l-ui-table__cell--action">
            <%= link_to "Edit", layered_assistant.edit_skill_path(skill) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="l-ui-mt-4">
    <%= l_ui_pagy(@pagy) %>
  </div>
</div>
