<%= l_ui_title_bar(
  title: "Providers",
  breadcrumbs: [["Setup", layered_assistant.root_path]]
) do %>
  <%= link_to "New", layered_assistant.new_provider_path, class: "l-ui-button--primary" %>
<% end %>

<div class="l-ui-container--table l-ui-utility--mt-lg">
  <table class="l-ui-table">
    <caption class="l-ui-sr-only">Providers</caption>
    <thead class="l-ui-table__header">
      <tr>
        <th scope="col" class="l-ui-table__header-cell">Name</th>
        <th scope="col" class="l-ui-table__header-cell">Protocol</th>
        <th scope="col" class="l-ui-table__header-cell">Models</th>
        <th scope="col" class="l-ui-table__header-cell">Enabled</th>
        <th scope="col" class="l-ui-table__header-cell--action">Actions</th>
      </tr>
    </thead>

    <tbody class="l-ui-table__body">
      <% @providers.each do |provider| %>
        <tr>
          <td class="l-ui-table__cell--primary">
            <%= provider.name %>
          </td>
          <td class="l-ui-table__cell">
            <%= I18n.t("layered_assistant.protocols.#{provider.protocol}") %>
          </td>
          <td class="l-ui-table__cell">
            <%= link_to provider.models_count, layered_assistant.provider_models_path(provider) %>
          </td>
          <td class="l-ui-table__cell">
            <span class="<%= provider.enabled? ? "l-ui-badge--success" : "l-ui-badge--danger" %>">
              <%= provider.enabled? ? "Enabled" : "Disabled" %>
            </span>
          </td>
          <td class="l-ui-table__cell--action">
            <%= link_to "Edit", layered_assistant.edit_provider_path(provider) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="l-ui-utility--mt-lg">
    <%= l_ui_pagy(@pagy) %>
  </div>
</div>
