<%= turbo_stream_from @conversation %>

<div class="l-ui-conversation__container">
  <div class="l-ui-form__group l-ui-mt-0">
    <div class="l-ui-select-container l-ui-mt-0">
      <select class="l-ui-select l-ui-mt-0" aria-label="Select conversation"
              data-controller="conversation-select"
              data-action="change->conversation-select#navigate">
        <option value="<%= layered_assistant.public_assistant_path(@conversation.assistant) %>">+ New</option>
        <% @conversations.each do |c| %>
          <option value="<%= layered_assistant.public_conversation_path(c.uid) %>" <%= "selected" if c.id == @conversation.id %> class="<%= dom_id(c) %>_name"><%= c.name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="l-ui-conversation__messages" data-controller="messages">
    <div id="<%= dom_id(@conversation) %>_messages" class="<%= dom_id(@conversation) %>_messages l-ui-conversation" aria-live="polite" data-messages-target="list">
      <%= render partial: "layered/assistant/messages/message", collection: @messages, as: :message %>
    </div>

    <button class="l-ui-scroll-to-bottom"
            data-messages-target="scrollButton"
            data-action="click->messages#jumpToBottom"
            aria-label="Scroll to bottom"
            type="button">
    </button>
  </div>

  <%= render "layered/assistant/public/messages/composer", conversation: @conversation, responding: @conversation.responding? %>
</div>
